:root {
  --color-azul: #0057A8;
  --color-rojo: #C1272D;
  --color-blanco: #FFFFFF;
  --color-texto: #333333;
  --color-neutro: #E0E0E0;
  --color-destacado: #FFD700;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6f9;
  color: var(--color-texto);
  margin: 0;
}

.header-color {
  background-color: var(--color-azul);
  color: var(--color-blanco);
}

.logo {
  height: 60px;
}

nav {
  background-color: #222;
}

.nav-link {
  color: #dfefff;
  margin-right: 10px;
  font-weight: 500;
}

.nav-link.active {
  background-color: #0d6efd;
  color: white !important;
}

nav a:hover {
  background-color: #ccc !important;
  color: black !important;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.card {
  border: 1px solid var(--color-neutro);
  border-radius: 12px;
  background-color: white;
}

.form-select {
  border-radius: 10px;
  border: 1px solid #ccc;
}

.btn-success {
  background-color: #28a745;
  border: none;
}

.btn-warning {
  background-color: #ffc107;
  border: none;
}

.btn-warning.text-white {
  color: white !important;
}

.list-group-item {
  background-color: #f8f9fa;
  border-color: #dee2e6;
  font-size: 15px;
  line-height: 1.4;
}
