<main>
  <section>
    <img src="logo-sin-fondo.png" alt="Escudo del colegio" height="250px" width="250px" />
    <h2>Gestión Escolar Familiar</h2>
    <p>Desde este panel podrá consultar la información académica y comunicarse con el colegio respecto al seguimiento de su hijo o representado.</p>
  </section>

  <section class="galeria">
    <h2>Galería Institucional</h2>
    <div class="galeria-container">
      <img src="grados.jpg" alt="Grados" class="foto" />
      <img src="niños-cancha.jpg" alt="Espacios recreativos" class="foto" />
      <img src="colegio-arriba.jpg" alt="Instalaciones del colegio" class="foto" />
    </div>
  </section>
</main>