{% extends 'estudiantes/base_estudiantes.html' %}
{% block title %}Observaciones - EduNet{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css estudiante/historial.css') }}">
  {% endblock %}
  {% block content %}
    <h2 class="mb-4 text-center">Mi Historial Académico</h2>
    <div class="table-responsive">
      <table class="table table-bordered table-hover text-center align-middle tabla-historial">
        <thead class="table-light">
          <tr>
            <th>Asignatura</th>
            <th>Periodo 1</th>
            <th>Periodo 2</th>
            <th>Periodo 3</th>
            <th>Periodo 4</th>
            <th>Promedio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Matemáticas</td>
            <td>4.2</td>
            <td>4.5</td>
            <td>4.0</td>
            <td>4.3</td>
            <td>4.25</td>
          </tr>
          <tr>
            <td>Español</td>
            <td>4.5</td>
            <td>4.7</td>
            <td>4.6</td>
            <td>4.8</td>
            <td>4.65</td>
          </tr>
        </tbody>
      </table>
    </div>
{% endblock %}
