

<main class="container mt-4 text-center">
  <div class="row">
    <div class="col-12">
      <h2 class="text-primary">Progreso Académico del Estudiante</h2>
      <p>Consulta la planilla con los avances académicos individuales de tu hijo/a:</p>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="table-primary">
            <tr>
              <th>Materia</th>
              <th>Periodo 1</th>
              <th>Periodo 2</th>
              <th>Periodo 3</th>
              <th>Periodo 4</th>
              <th>Promedio Final</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Matemáticas</td>
              <td>4.2</td>
              <td>4.5</td>
              <td>4.3</td>
              <td>4.6</td>
              <td>4.4</td>
            </tr>
            <tr>
              <td>Lenguaje</td>
              <td>4.0</td>
              <td>4.1</td>
              <td>4.2</td>
              <td>4.3</td>
              <td>4.15</td>
            </tr>
            <tr>
              <td>Ingles</td>
              <td>4.0</td>
              <td>4.1</td>
              <td>4.2</td>
              <td>4.3</td>
              <td>4.15</td>
            </tr>
            <tr>
              <td>Quimica</td>
              <td>4.0</td>
              <td>4.1</td>
              <td>4.2</td>
              <td>4.3</td>
              <td>4.15</td>
            </tr>
            <tr>
              <td>Artes</td>
              <td>4.0</td>
              <td>4.1</td>
              <td>4.2</td>
              <td>4.3</td>
              <td>4.15</td>
            </tr>
            <tr>
              <td>ED.Fisica</td>
              <td>4.0</td>
              <td>4.1</td>
              <td>4.2</td>
              <td>4.3</td>
              <td>4.15</td>
            </tr>
            <tr>
              <td>Fisica</td>
              <td>4.0</td>
              <td>4.1</td>
              <td>4.2</td>
              <td>4.3</td>
              <td>4.15</td>
            </tr>
            <tr>
              <td>Economia</td>
              <td>4.0</td>
              <td>4.1</td>
              <td>4.2</td>
              <td>4.3</td>
              <td>4.15</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
