.logo {
  height: 60px;
}

.container {
  color: inherit; 
}

.foto {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.foto:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card h2 {
  color: #000000;
}

.list-group-item {
  font-size: 16px;
  border-color: #e0e0e0;
  line-height: 1.5;
}