:root {
  --color-principal: #0057A8;
  --color-neutro: #E0E0E0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #333;
  display: flex;
  flex-direction: column;
}

.banner {
  background-color: var(--color-principal);
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  width: 60px;
  margin-right: 15px;
}

.image, .mapa-img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.image:hover,
.mapa-img:hover {
  transform: scale(1.05);
}

.formulario {
  background-color: var(--color-neutro);
  padding: 20px;
  border-radius: 10px;
}

.link {
  display: block;
  font-size: 14px;
  text-align: right;
  text-decoration: none;
  color: var(--color-principal);
}

.link:hover {
  text-decoration: underline;
}

.btn-principal {
  background-color: var(--color-principal);
  color: white;
}

.btn-principal:hover {
  background-color: #004080;
}

main {
  flex: 1;
}

.footer {
  background-color: var(--color-principal) !important;
  color: white;
}

