<section class="bienvenida">
  <img src="logo-sin-fondo.png" alt="Escudo del colegio" width="250" height="250" />
  <h2>Gestión Escolar Inteligente</h2>
  <p>EduNet es una plataforma diseñada para mejorar la comunicación entre estudiantes, profesores, padres y administración.</p>
</section>

<section class="galeria">
  <h2>Galería Institucional</h2>
  <div class="galeria-container">
    <img src="grados.jpg" alt="Grados" class="foto" />
    <img src="niños-cancha.jpg" alt="Espacios recreativos" class="foto" />
    <img src="colegio-arriba.jpg" alt="Instalaciones del colegio" class="foto" />
  </div>
</section>
